In [1]:
import sqlite3
import pandas as pd 
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

In [2]:
# Create your connection.
cnx = sqlite3.connect('database.sqlite')
df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)

In [9]:
print(type(df))
print(df.shape)
print()

df.head(5)

<class 'pandas.core.frame.DataFrame'>
(183978, 42)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [11]:
print(df.columns)
print(len(df.columns))

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')
42

<h2><ol><li>Declare the columns you want to use as features</li></ol></h2>

In [12]:
features = ['potential', 'crossing', 'finishing', 'heading_accuracy',
            'short_passing', 'volleys', 'dribbling', 'curve', 
            'free_kick_accuracy', 'long_passing', 'ball_control', 
            'acceleration', 'sprint_speed', 'agility', 'reactions',
            'balance', 'shot_power', 'jumping', 'stamina','strength',
            'long_shots', 'aggression', 'interceptions', 'positioning',
            'vision', 'penalties', 'marking', 'standing_tackle', 
            'sliding_tackle', 'gk_diving', 'gk_handling', 'gk_kicking',
            'gk_positioning', 'gk_reflexes']

<h2><ol start='2'><li>Specify the Prediction Target</li></ol></h2>

In [28]:
target = ['overall_rating']

In [21]:
print(df['overall_rating'].idxmax(), df['overall_rating'].max())
df.iloc[[df['overall_rating'].idxmax()]]

102482 94.0

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
102482,102483,158023,30981,2015-12-17 00:00:00,94.0,94.0,left,medium,low,80.0,...,90.0,74.0,13.0,23.0,21.0,6.0,11.0,15.0,14.0,8.0

<h2><ol start='3'><li>Clean the Data</li></ol></h2>

In [23]:
df = df.dropna()

<h2><ol start='4'><li>Extract Features and Target</li></ol></h2>

In [24]:
X = df[features]

In [29]:
y = df[target]

<h2><ol start='5'><li>Split the Dataset int Training and Test Datasets</li></ol></h2>

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,
                                                    random_state=324)

<h2><ol start='6'><li>Linear Regression: Fit a model to the training set</li></ol></h2>

In [32]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
print(type(regressor))
print(regressor)

<class 'sklearn.linear_model.base.LinearRegression'>

<h2><ol start='7'><li>Perform Predition Using Linear Regression Model</li></ol></h2>

In [37]:
y_prediction = regressor.predict(X_test)
y_prediction

array([[66.51284879],
       [79.77234615],
       [66.57371825],
       ...,
       [69.23780133],
       [64.58351696],
       [73.6881185 ]])

In [38]:
y_test.describe()

       overall_rating
count    59517.000000
mean        68.635818
std          7.041297
min         33.000000
25%         64.000000
50%         69.000000
75%         73.000000
max         94.000000

In [45]:
y_prediction.max()

91.77881874406079

<h2><ol start='8'><li>Evaluate Linear Regression Accuracy using Root Mean Square Error (RMSE)</li></ol></h2>

In [47]:
RMSE = sqrt(mean_squared_error(y_true=y_test, y_pred=y_prediction))
print(RMSE)

2.8053030468552267

<h2>
    <ol start='9'>
        <li>Decision Tree Regressor</li>
        <ol start='A'>
            <li>Fit a new regression model to the training set</li>
        </ol>
    </ol>
</h2>

In [50]:
regressor = DecisionTreeRegressor(max_depth=20)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=20, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=None, splitter='best')

<h2><ol><ol start='2'><li>Perform Prediction using Decisiont Tree Regressor</li></ol></ol></h2>

In [53]:
y_prediction = regressor.predict(X_test)
y_prediction

array([62.        , 84.        , 62.38666667, ..., 68.        ,
       62.        , 73.        ])

In [55]:
y_test.describe()

       overall_rating
count    59517.000000
mean        68.635818
std          7.041297
min         33.000000
25%         64.000000
50%         69.000000
75%         73.000000
max         94.000000

<h2><ol><ol start='3'><li>Compare the regression methods </li></ol></ol></h2>

In [56]:
RMSE2 = sqrt(mean_squared_error(y_true = y_test, y_pred = y_prediction))

In [58]:
print(RMSE)
print(RMSE2)

2.8053030468552267
1.4531122014306086